$color-blue: #0070f3;
$color-primary: #222631;
$color-secondary: #2f3b5c;
$color-white: #fff;
$color-muted: #5a6176;
$color-light: #f4f7fa;
$color-dark: #1d2b3c;
$color-accents: #f1c006;
$color-gray: #808080;
